.home-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 20px;
  }


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom:2opx;
}

.image {
  flex: 1;
  max-width: 100%;
  padding: 2px;
  text-align: center; /* Align the image in the center */
}

.image img {
  max-width: 100%; /* Set max width for the image */
  height: 80;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 1;
  height: 80;
  width: 50%;
  padding: 8px;
  text-align: left;
}


  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .quick-links ul,
  .location ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links li,
  .location li {
    margin-bottom: 5px;
  }
  
  .quick-links a,
  .location li {
    text-decoration: none;
    color: white;
  }
  
  .contact p {
    margin: 0;
  }



  